# Importing Libraries

In [3]:
import torch
from torch import nn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Setting up device diagnostic code, to run our code on gpu directly

In [2]:
device = "cuda" if torch.cuda.is_available else "cpu"
device

'cuda'

In [4]:
df = pd.read_csv("D:/Codes/Pycharm Projects/PYTORCH/PROJECTS/AI Healthcare/AI-IN-HEALTHCARE/Case_Study - 1 [ Predicting Disease Outcomes from Patient Data ]/Data/hospital data analysis.csv")
df

,Patient_ID,Age,Gender,Condition,Procedure,Cost,Length_of_Stay,Readmission,Outcome,Satisfaction
0,1,45,Female,Heart Disease,Angioplasty,15000,5,No,Recovered,4
1,2,60,Male,Diabetes,Insulin Therapy,2000,3,Yes,Stable,3
2,3,32,Female,Fractured Arm,X-Ray and Splint,500,1,No,Recovered,5
3,4,75,Male,Stroke,CT Scan and Medication,10000,7,Yes,Stable,2
4,5,50,Female,Cancer,Surgery and Chemotherapy,25000,10,No,Recovered,4
...,...,...,...,...,...,...,...,...,...,...
979,996,68,Male,Hypertension,Medication and Counseling,1000,70,No,Stable,4
980,997,45,Female,Appendicitis,Appendectomy,8000,72,No,Recovered,3
981,998,40,Male,Fractured Leg,Cast and Physical Therapy,3000,72,No,Recovered,4
982,999,78,Female,Heart Attack,Cardiac Catheterization,18000,74,Yes,Stable,2
983,1000,25,Male,Allergic Reaction,Epinephrine Injection,100,68,No,Recovered,5

In [8]:
df.dtypes

Patient_ID         int64
Age                int64
Gender            object
Condition         object
Procedure         object
Cost               int64
Length_of_Stay     int64
Readmission       object
Outcome           object
Satisfaction       int64
dtype: object

In [12]:
unique_condition = df['Condition'].unique()
for condition in unique_condition:
    print(condition)

Heart Disease
Diabetes
Fractured Arm
Stroke
Cancer
Hypertension
Appendicitis
Fractured Leg
Heart Attack
Allergic Reaction
Respiratory Infection
Prostate Cancer
Childbirth
Kidney Stones
Osteoarthritis

In [14]:
outcome_by_condition = df.groupby(['Condition','Outcome']).size().unstack(fill_value = 0)
outcome_by_condition

Outcome                Recovered  Stable
Condition
Allergic Reaction             66       0
Appendicitis                  66       0
Cancer                        66       0
Childbirth                    65       0
Diabetes                       0      65
Fractured Arm                 66       0
Fractured Leg                 67       0
Heart Attack                   0      67
Heart Disease                 65       0
Hypertension                   0      66
Kidney Stones                 65       0
Osteoarthritis                 0      64
Prostate Cancer               65       0
Respiratory Infection          0      65
Stroke                         0      66

In [15]:
outcome_by_condition = df.groupby(['Age','Condition','Outcome']).size().unstack(fill_value = 0)
outcome_by_condition

Outcome                    Recovered  Stable
Age Condition
25  Allergic Reaction             34       0
28  Allergic Reaction             32       0
30  Childbirth                     1       0
    Fractured Arm                 32       0
32  Childbirth                    32       0
    Fractured Arm                  1       0
35  Childbirth                    32       0
    Fractured Arm                 33       0
40  Fractured Leg                 34       0
45  Appendicitis                  32       0
    Fractured Leg                 33       0
    Heart Disease                  1       0
48  Heart Disease                 31       0
    Respiratory Infection          0       1
50  Cancer                         1       0
    Kidney Stones                 32       0
52  Kidney Stones                  1       0
    Respiratory Infection          0      64
53  Cancer                        33       0
55  Appendicitis                   1       0
    Cancer                        32       0
    Heart Disease                 33       0
    Kidney Stones                 32       0
58  Osteoarthritis                 0       1
    Prostate Cancer               32       0
60  Appendicitis                  33       0
    Diabetes                       0       1
    Osteoarthritis                 0      31
62  Diabetes                       0      33
65  Diabetes                       0      31
    Osteoarthritis                 0      32
    Prostate Cancer                1       0
67  Prostate Cancer               32       0
68  Hypertension                   0      33
70  Heart Attack                   0       1
    Stroke                         0      32
72  Hypertension                   0      33
75  Heart Attack                   0      33
    Stroke                         0       1
78  Heart Attack                   0      33
    Stroke                         0      33